<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Live Attendance Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <!-- Android 13+ Notification Permission -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="Self HRMS"
        android:icon="@drawable/icon_512"
        android:roundIcon="@drawable/icon_512"
        android:theme="@style/Theme.SelfAttendance"
        android:usesCleartextTraffic="false">

        <!-- Main App -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- Live Attendance Notification Service -->
        <service
            android:name=".AttendanceService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse" />


        <!-- Attendance Home Screen Widget -->
        <receiver
            android:name=".AttendanceWidget"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/attendance_widget_info" />

        </receiver>

    </application>

</manifest>
