<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Internet: GitHub update checking / APK download -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Android 13+ notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Allow Self HRMS to open downloaded APK for update -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:allowBackup="true"
        android:label="Self HRMS"
        android:theme="@style/Theme.SelfAttendance"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!--
            FileProvider
            Required for:
            1. Self HRMS APK update installation
            2. Backup JSON sharing
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />

        </provider>

    </application>

</manifest>
